.footer-container{
    height: 550px;
}

.footer-body{
    border: 2px solid brown;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-content{
    border: 2px solid hotpink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    margin-bottom: 10px;
}

.footer-left{
    border: 2px solid yellow;
    flex-direction: column;
    padding: 15px;
    margin-top: 10px;
}

.footer-list-container{
    border: 2px solid wheat;
}

.footer-list{
    border: 2px solid black;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    list-style-type: none;
}

.footer-icon{
    width: 45px;
    height: 30px;
}

.footer-msg{
    border: 2px solid purple;
}

.footer-msg h3{
    font-size: 25px;
    margin: 5px;
    margin-left: 35px;
}

.footer-msg p{
    margin: 5px;
    margin-left: 35px;
}

.footer-msg-img{
    border: 2px solid red;
}

.footer-right{
    position: relative;
    border: 2px solid gold;
    flex-direction: column;
    padding: 15px;
    margin-top: 10px;
    width: 30%;
    margin-right: 20%;
}

.footer-right ul{
    list-style-type: none;
}

.footer-right li{
    padding: 10px;
}

@media (max-width: 868px){

    .footer-body{
        align-items: center;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .footer-right{
        display: flex;
        width: 100%;
    }

    .footer-right h3{
        align-self: center;
        padding: 10px;
    }

    .footer-right ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 450px) {
    .footer-right ul{
        align-items: center;
        flex-direction: column;
    }
}