.header-container{
  height: 150px;
  overflow: visible;
  flex-direction: row;
}

.menu-container {
  border: 2px solid green;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 150%;
}

.header-logo{
  border: 2px solid black;
}

.header-right{
  border: 2px solid red;
  position: relative;
  height: 30px; /* change to 30 px for minimized responsive */
}

.header-navbar-button{
  border: 2px solid white;
}

.header-nav{
  display: flex;
  flex-direction: row;
  width: 150%; 
  border: 2px solid black;
  background-color: #3b82f6;
}

.header-button{
  border: 2px solid yellow;
}

.header-nav li{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-left: auto;
  padding-right: auto;
}

.header-mail-button{
  margin-bottom: 10px;
  width: 100%; /* Keep this */
  max-width: 300px;
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  align-items: center; /* Add this */
}



@media (max-width: 768px){
  .menu-container{
    width: 30%;
  }
}

@media (max-width: 326px){
  .menu-container{
    width: 70%;
  }
}