.header-container{
  height: 100px;
  overflow: visible;
}

.menu-container {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-logo{

}

.header-right{
  position: relative;
  width: 50%;
}

.header-navbar-button{

}

.header-button{

}

.header-mail-button{

}


.header-nav{
  width: auto; /* adjust this value as needed */
  background-color: #3b82f6;
}
