.home-page-container {
  width: 100%;
  height: 100%;
}

.home-page-body {
  display: flex; /* Added flex display */
  flex-direction: column; /* Added flex direction */
  background: blue;
  min-height: 100vh;
}

.top-div {
  display: flex; 
  flex-direction: row; 
  margin-top: 75px;
}

.left-div {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
  margin: 20px; /* Added margin */
}

.right-div {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid black;
  margin: 20px; /* Added margin */
}

.bottom-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  background: white;
  width: 75%;
  height: 75%;
  border: 2px solid black;
  margin: 20px; 
  margin-bottom: 100px;
}

.content-div {
  display: flex;
  flex-direction: column;
  background: white;
  max-width: 100vw;
  min-height: 50vh;
  border: 2px solid black;
  box-sizing: border-box; /* Added box-sizing */
}

.about-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 2px solid black;
  height: 25%;
  width: 95%;
  padding: 10px;
  margin: 18px;
  margin-top: 38px;
  margin-bottom: 55px;
}

.about-title{
    font-size: 36px;
    align-self: center;
}

.about-top {
  display: flex;
  flex-direction: row;
}

.about-content-p {
  display: inline-block; /* Added display */
  margin: 10px;
  border: 2px solid black;
  width: 50%;
  height: 100%;
}

.about-content-img {
  display: inline-block; /* Added display */
  margin: 10px;
  border: 2px solid black;
  width: 50%;
  max-height: 350px;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  border: 2px solid black;
  height: 25%;
  width: 100%;
  padding: 10px;
  margin: 18px;
  margin-top: 85px;
  margin-bottom: 40px;
}

.project-title{
    font-size: 36px;
    align-self: center;
}

.project{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.project-image{
    border: 2px solid black;
    margin: 10px;
    width: 55%;
    max-height: 350px;
}

.project-image-desc{
    border: 2px solid black;
    margin: 10px;
    max-height: 350px;
    width: 38%;
}

.project-link{
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  border: 2px solid black;
  height: 25%;
  width: 95%;
  padding: 10px;
  margin: 18px;
  margin-top: 65px;
  margin-bottom: 85px;
}

.resume-content {
  display: flex;
  flex-direction: row;
  align-self: center;
  border: 2px solid black;
  height: 25%;
  width: 100%;
  padding: 10px;
  margin: 18px;
  margin-bottom: 85px;
}

.resume-desc{
    border: 2px solid black;
    margin: 10px;
    width: 45%;
    max-height: 350px;
}

.resume-desc h3{
  font-size: 36px;
}

.resume-img{
    border: 2px solid black;
    margin: 10px;
    width: 50%;
    max-height: 350px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-direction: row;
  border: 2px solid black;
  height: 25%;
  width: 95%;
  padding: 10px;
  margin: 18px;
  margin-bottom: 110px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 48%;
    height: 100%;
    padding: 10px;
    margin: 18px;
}

form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-top: 10px;
  }
  
  input, textarea {
    border: 2px solid black;
    padding: 5px;
    width: 100%;
  }
  
  input[type="text"], input[type="email"], input[type="message"] {
    width: auto;
    padding: 5px;
  }
  
  textarea {
    width: 100%;
  }
  
  .contact-img {
    display: flex;
    border: 2px solid black;
    max-height: 350px;
    width: 50%;
    padding: 10px;
    margin: 18px;
  }

@media (max-width: 768px){
  .home-page-container {
    @apply w-full m-0;
  }

  .top-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-div, .right-div {
    width: 85%;
    max-height: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-top{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content-img, .about-content-p{
    width: 95%;
    max-height: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-image, .project-image-desc{
    width: 100%;
    max-width: 350px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .resume-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume-desc, .resume-img{
    width: 95%;
    max-height: 200px;
  }

  .contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form, .contact-img{
    width: 95%;
    max-height: 400px;
  }
}

@media (max-width: 326px) {
  .home-page-container {
    @apply w-full m-0;
  }

  .top-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-div, .right-div {
    width: 85%;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-top{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content-img, .about-content-p{
    width: 95%;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .project-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-image, .project-image-desc{
    width: 100%;
    max-width: 225px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .resume-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume-desc, .resume-img{
    width: 95%;
    max-height: 200px;
  }

  .contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form, .contact-img{
    width: 95%;
    max-height: 400px;
  }
}
